<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
akka {  
    loglevel = INFO
    log-config-on-start = on
    loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
}
      ]]>
    </hocon>
  </akka>

  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <!-- 
    <add key="serilog:using" value="Serilog.Sinks.Elasticsearch" />        
    <add key="serilog:write-to:Elasticsearch.nodeUris" value="http://192.168.99.100:9200" /> -->
    <!-- <add key="serilog:write-to:Elasticsearch.indexFormat" value="logstash-YYYY.MM.DD" />-->
    <!-- <add key="serilog:write-to:Elasticsearch.templateName" value="myCustomTemplate"/>-->
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>